
.header{
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
    background-color: #ccf5ff;
}
.item_name{
    font-size: 18px;
}
.chart{
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}
.chart .legend {
    fill: black;
    font: 14px sans-serif;
    text-anchor: start;
    font-size: 12px;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor:end;
}

.chart .label {
    fill: black;
    font: 14px sans-serif;
    text-anchor: end;
}

.bar:hover {
    fill: grey;
}


#Slider .slider-selection {
    background: #ADC7E8;

}
.slider_box{
    margin-bottom: 2rem;
}

