<!DOCTYPE html>

<head>
    <title>Polling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/css/bootstrap-slider.min.css"
          integrity="sha256-dXHafC+HTlEpRnrt+UjknVf5gRji+RofwsBhGpJ43NA=" crossorigin="anonymous"/>

    <link rel="stylesheet" type="text/css" href="../static/css/default.css">

</head>
<body>
<div class="test"></div>
<div class="header">
    <div class="container">
        <div class="row">
            <div>
                <h1>Polling Balance</h1>
                <p>Explore Interesting Fact Behind Election Prediction</p>
            </div>
        </div>
    </div>
</div>
<div class=container>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >Choose a Polling Data
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="survey_datasource" value="MUP48" > Sep 2012</a></li>
            <li><a class="survey_datasource" value="MUP126"> Aug 2016</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Baseline
            Population
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="baseline_datasource" value="All_Adults" >All Adults</a></li>
            <li><a class="baseline_datasource" value="All_Voters">All Voters</a></li>
        </ul>
    </div>
</div>

<div class=container>
    <div class="row">
        <div class="col-sm-6">
            <!-- main view -->
            <div id="result">
                <h3>Who will win the votes?</h3>
                <svg id="result_chart"></svg>
            </div>

            <div class="balance_list">
                <b>Balance by:</b><span class="balance_by"/>
            </div>

            <!-- slider -->
            <div class="slider_box">
                <span>0%&nbsp;&nbsp;</span>
                <input id="ex1" data-slider-id='Slider' type="text" data-slider-min="0" data-slider-max="100" class="slider"
                       data-slider-step="1" data-slider-value="14"/>
                <span>&nbsp;&nbsp;100%</span>
            </div>
        </div>
        <!-- attributes -->
        <div class="col-sm-6">
            <svg id="legend" height="18">
                <rect x="0" y="0" width="18" height="18" style="fill:rgb(31,119,180)"></rect>
                <text x="22" y="15">Poll</text>
                <rect x="100" width="18" height="18" style="fill:rgb(90,194,198)"></rect>
                <text x="122" y="15">Balanced</text>
                <rect x="200" width="18" height="18" style="fill:rgb(174,199,232)"></rect>
                <text x="222" y="15">Baseline</text>
            </svg>
            <div class="chart" id="edu_level">
                <p class="item_name"><input type="checkbox" class="check_box" value="Last Grade in School"/>&nbsp;&nbsp;Last
                    Grade in School:</p>
                <svg id="edu_level_chart"></svg>

            </div>
            <div class="chart" id="gender">
                <p class="item_name"><input type="checkbox" class="check_box" value="Gender"/>&nbsp;&nbsp;Gender:</p>
                <svg id="gender_chart"></svg>
            </div>
            <div class="chart" id="age">
                <p class="item_name"><input type="checkbox" class="check_box" value="Age"/>&nbsp;&nbsp;Age:</p>
                <svg id="age_chart"></svg>
            </div>
            <div class="chart" id="region">
                <p class="item_name"><input type="checkbox" class="check_box" value="Region"/>&nbsp;&nbsp;Region:</p>
                <svg id="region_chart"></svg>
            </div>
            <div class="chart" id="hispanic">
                <p class="item_name"><input type="checkbox" class="check_box" value="Latino or Hispanic Origin"/>&nbsp;&nbsp;Latino
                    or Hispanic Oringin:</p>
                <svg id="hispanic_chart"></svg>
            </div>
            <div class="chart" id="race">
                <p class="item_name"><input type="checkbox" class="check_box" value="Race"/>&nbsp;&nbsp;Race:</p>
                <svg id="race_chart"></svg>
            </div>
            <div class="chart" id="party">
                <p class="item_name"><input type="checkbox" class="check_box" value="Party"/>&nbsp;&nbsp;Party:</p>
                <svg id="party_chart"></svg>
            </div>
            <div class="chart" id="income">
                <p class="item_name"><input type="checkbox" class="check_box" value="Annual Family Income"/>&nbsp;&nbsp;Annual
                    Family Income(MUP126 2016):</p>
                <svg id="income_chart"></svg>
            </div>
            <div class="chart" id="political_view">
                <p class="item_name"><input type="checkbox" class="check_box" value="Political View"/>&nbsp;&nbsp;Political
                    View(MUP126 2016):</p>
                <svg id="political_view_chart"></svg>
            </div>
        </div>

    </div>
</div>
<script src="../static/js/balance/slider.js"></script>
<script src="../static/js/balance/checkbox.js"></script>
<script src="../static/js/balance/survey_data.js"></script>
<script src="../static/js/balance/baseline_data.js"></script>

</body>