<!DOCTYPE html>

<head>
    <title>Polling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/css/bootstrap-slider.min.css"
          integrity="sha256-dXHafC+HTlEpRnrt+UjknVf5gRji+RofwsBhGpJ43NA=" crossorigin="anonymous"/>



</head>
<script src="http://d3js.org/d3.v3.min.js"></script>

<style>


    .header {
        padding-bottom: 1.25rem;
        margin-bottom: 2rem;
        border-bottom: .05rem solid #eee;
        background-color: #ADC7E8;

    }

    .item_name {
        font-size: 18px;
    }

    .chart {
        margin-bottom: 2rem;
        border-bottom: .05rem solid #eee;
    }

    .chart .legend {
        fill: black;
        font: 14px sans-serif;
        text-anchor: start;
        font-size: 12px;
    }

    #Slider .slider-selection {
        background: #ADC7E8;

    }

    .slider_box {
        margin-bottom: 2rem;
    }

    .left {
        position: fixed;
    }

    h3 {
        margin-bottom: 7rem;
    }

    #result_chart {
        margin-bottom: 7rem;
    }

    .balance_list {
        margin-bottom: 3rem;
    }

    .bar:hover {
        fill: grey;
    }

</style>

<body>
<div class="test"></div>
<div class="header">
    <div class="container">
        <div class="row">
            <div>
                <h1>Polling Balance</h1>
                <p>Explore Interesting Fact Behind Election Prediction</p>
            </div>
        </div>
    </div>
</div>
<div class=container>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >Choose a Polling Data
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="survey_datasource" value="MUP48"> Sep 2012</a></li>
            <li><a class="survey_datasource" value="MUP126"> Aug 2016</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a Baseline
            Population
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="baseline_datasource" value="All_Adults" >All Adults</a></li>
            <li><a class="baseline_datasource" value="All_Voters">All Voters</a></li>
        </ul>
    </div>
</div>

<div class=container>
    <div class="row">
        <div class="col-sm-6">
            <!-- main view -->
            <div id="result">
                <h3>Who will win the votes?</h3>
                <svg id="result_chart"></svg>
            </div>

            <div class="balance_list">
                <b>Balance by:</b><span class="balance_by"/>
            </div>

            <!-- slider -->
            <div class="slider_box">
                <span>0%&nbsp;&nbsp;</span>
                <input id="ex1" data-slider-id='Slider' type="text" data-slider-min="0" data-slider-max="100"
                       data-slider-step="1" data-slider-value="14"/>
                <span>&nbsp;&nbsp;100%</span>
            </div>
        </div>
        <!-- attributes -->
        <div class="col-sm-6">
            <div class="chart" id="edu_level">
                <p class="item_name"><input type="checkbox" class="check_box" value="Last Grade in School"/>&nbsp;&nbsp;Last
                    Grade in School:</p>
                <svg id="edu_level_chart"></svg>

            </div>
            <div class="chart" id="gender">
                <p class="item_name"><input type="checkbox" class="check_box" value="Gender"/>&nbsp;&nbsp;Gender:</p>
                <svg id="gender_chart"></svg>
            </div>
            <div class="chart" id="age">
                <p class="item_name"><input type="checkbox" class="check_box" value="Age"/>&nbsp;&nbsp;Age:</p>
                <svg id="age_chart"></svg>
            </div>
            <div class="chart" id="region">
                <p class="item_name"><input type="checkbox" class="check_box" value="region"/>&nbsp;&nbsp;region:</p>
                <svg id="region_chart"></svg>
            </div>
            <div class="chart" id="hispanic">
                <p class="item_name"><input type="checkbox" class="check_box" value="Latino or Hispanic Oringin"/>&nbsp;&nbsp;Latino
                    or Hispanic Oringin:</p>
                <svg id="hispanic_chart"></svg>
            </div>
            <div class="chart" id="race">
                <p class="item_name"><input type="checkbox" class="check_box" value="Race"/>&nbsp;&nbsp;Race:</p>
                <svg id="race_chart"></svg>
            </div>
            <div class="chart" id="party">
                <p class="item_name"><input type="checkbox" class="check_box" value="Party"/>&nbsp;&nbsp;Party:</p>
                <svg id="party_chart"></svg>
            </div>
            <div class="chart" id="income">
                <p class="item_name"><input type="checkbox" class="check_box" value="Annual Family Income"/>&nbsp;&nbsp;Annual
                    Family Income(MUP126 2016):</p>
                <svg id="income_chart"></svg>
            </div>
            <div class="chart" id="political_view">
                <p class="item_name"><input type="checkbox" class="check_box" value="Political View"/>&nbsp;&nbsp;Political
                    View(MUP126 2016):</p>
                <svg id="political_view_chart"></svg>
            </div>
        </div>
    </div>
</div>
<script>
    // Slider
    $('#ex1').slider({
        formatter: function (value) {
            return value + '%';
        }
    });

    //check box
    $(document).ready(function () {
        $(".check_box").change(function () {
            if (this.checked) {
                // the checkbox is now checked
                $(".balance_by").append($(this).attr("value") + ", ");
            }
            else {
                // the checkbox is now unchecked
                var todelete = $(this).attr("value") + ", ";
                $(".balance_by").text(function (i, txt) {
                    return txt.replace(todelete, '');
                });
            }
        });
    });
</script>
 <script src="../static/js/balance/survey_data.js"></script>


<script>
    var chartWidth = 200,
        barHeight = 15,
        groupHeight = barHeight * 2,
        gapBetweenGroups = 8,
        spaceForLabels = 180,
        spaceForLegend = 200;
    var edu_data, edu_x, gender_data, gender_x, hispanic_data, hispanic_x, race_data, race_x, income_data, income_x,
        political_view_data, political_view_x, party_data, party_x,region_data,region_x,age_data,age_x;


    $(document).ready(function () {
        //draw survey data
        $(".survey_datasource").click(function () {
            $.post('/requestdata', {name: $(this).attr('value')}, function (data) {
                //emptyarray to remove exit()
                var emptyarray={};
                //edu chart
                var edu_labels = data["last_grade_in_school"]["labels"];
                edu_data = data["last_grade_in_school"]["values"];
                var educhartHeight = barHeight * edu_data.length * 2 + gapBetweenGroups * edu_labels.length;
                edu_x = d3.scale.linear()
                    .domain([0, d3.max(edu_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var educhart = d3.select("#edu_level_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", educhartHeight);

                //bind elements to an empty array to get exit() part
                var edu_update = educhart.selectAll("g")
                                .data(emptyarray);
                edu_update .exit().remove();
                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var edu_bar=educhart.selectAll("g").data(edu_data).enter().append("g")
                    .attr("transform", function (d, i) {
                        //left offset and upper offset
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                edu_bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", edu_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                edu_bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return edu_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels on the left
                edu_bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return edu_labels[i];
                    });

                //gender chart
                var gender_labels = data["gender"]["labels"];
                 gender_data = data["gender"]["values"];
                var genderchartHeight = barHeight * gender_data.length * 2 + gapBetweenGroups * gender_labels.length;
                 gender_x = d3.scale.linear()
                    .domain([0, d3.max(gender_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var genderchart = d3.select("#gender_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", genderchartHeight);

                //bind elements to an empty array to get exit() part
                var gender_update = genderchart.selectAll("g")
                    .data(emptyarray);
                gender_update .exit().remove();

                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = genderchart.selectAll("g")
                    .data(gender_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", gender_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return gender_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return gender_labels[i];
                    });
                //region chart
                var region_labels = data["region"]["labels"];
                 region_data = data["region"]["values"];
                var regionchartHeight = barHeight * region_data.length * 2 + gapBetweenGroups * region_labels.length;
                 region_x = d3.scale.linear()
                    .domain([0, d3.max(region_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var regionchart = d3.select("#region_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", regionchartHeight);

                //bind elements to an empty array to get exit() part
                var region_update = regionchart.selectAll("g")
                    .data(emptyarray);
                region_update .exit().remove();

                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = regionchart.selectAll("g")
                    .data(region_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", region_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return region_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return region_labels[i];
                    });

                //hispanic chart
                var hispanic_labels = data["hispanic_origin"]["labels"];
                hispanic_data = data["hispanic_origin"]["values"];
                var hispanicchartHeight = barHeight * hispanic_data.length * 2 + gapBetweenGroups * hispanic_labels.length;
                hispanic_x = d3.scale.linear()
                    .domain([0, d3.max(hispanic_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var hispanicchart = d3.select("#hispanic_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", hispanicchartHeight);
                //bind elements to an empty array to get exit() part
                var hispanic_update = hispanicchart.selectAll("g")
                    .data(emptyarray);
                hispanic_update .exit().remove();
                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = hispanicchart.selectAll("g")
                    .data(hispanic_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", hispanic_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return hispanic_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return hispanic_labels[i];
                    });
                //age chart
                var age_labels = data["age"]["labels"];
                 age_data = data["age"]["values"];
                var agechartHeight = barHeight * age_data.length * 2 + gapBetweenGroups * age_labels.length;
                 age_x = d3.scale.linear()
                    .domain([0, d3.max(age_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var agechart = d3.select("#age_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", agechartHeight);

                //bind elements to an empty array to get exit() part
                var age_update = agechart.selectAll("g")
                    .data(emptyarray);
                age_update .exit().remove();

                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = agechart.selectAll("g")
                    .data(age_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", age_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return age_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return age_labels[i];
                    });

                //race chart
                var race_labels = data["race"]["labels"];
                race_data = data["race"]["values"];
                var racechartHeight = barHeight * race_data.length * 2 + gapBetweenGroups * race_labels.length;
                race_x = d3.scale.linear()
                    .domain([0, d3.max(race_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var racechart = d3.select("#race_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", racechartHeight);
                //bind elements to an empty array to get exit() part
                var race_update = racechart.selectAll("g")
                    .data(emptyarray);
                race_update .exit().remove();
                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = racechart.selectAll("g")
                    .data(race_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", race_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return race_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return race_labels[i];
                    });
                //party chart
                var party_labels = data["party"]["labels"];
                party_data = data["party"]["values"];
                var partychartHeight = barHeight * party_data.length * 2 + gapBetweenGroups * party_labels.length;
                party_x = d3.scale.linear()
                    .domain([0, d3.max(party_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var partychart = d3.select("#party_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", partychartHeight);
                //bind elements to an empty array to get exit() part
                var party_update = partychart.selectAll("g")
                    .data(emptyarray);
                party_update .exit().remove();

                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = partychart.selectAll("g")
                    .data(party_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", party_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return party_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return party_labels[i];
                    });
                //income chart
                var income_labels = data["annul_family_income"]["labels"];
                income_data = data["annul_family_income"]["values"];
                var incomechartHeight = barHeight * income_data.length * 2 + gapBetweenGroups * income_labels.length;
                income_x = d3.scale.linear()
                    .domain([0, d3.max(income_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var incomechart = d3.select("#income_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", incomechartHeight);
                //bind elements to an empty array to get exit() part
                var income_update = incomechart.selectAll("g")
                    .data(emptyarray);
                income_update .exit().remove();

                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = incomechart.selectAll("g")
                    .data(income_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", income_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return income_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return income_labels[i];
                    });
                //political_view chart
                var political_view_labels = data["political_view"]["labels"];
                political_view_data = data["political_view"]["values"];
                var political_viewchartHeight = barHeight * political_view_data.length * 2 + gapBetweenGroups * political_view_labels.length;
                political_view_x = d3.scale.linear()
                    .domain([0, d3.max(political_view_data)])
                    .range([0, chartWidth]);

                // Specify the chart area and dimensions
                var political_viewchart = d3.select("#political_view_chart")
                    .attr("width", spaceForLabels + chartWidth + spaceForLegend)
                    .attr("height", political_viewchartHeight);
                //bind elements to an empty array to get exit() part
                var political_view_update = political_viewchart.selectAll("g")
                    .data(emptyarray);
                political_view_update .exit().remove();

                // Create bars, bars contains text label on the left, rect in the middle and number labels on the right
                var bar = political_viewchart.selectAll("g")
                    .data(political_view_data)
                    .enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (i * groupHeight + gapBetweenGroups * (0.5 + i)  ) + ")";
                    });

                // Create rectangles of the correct width
                bar.append("rect")
                    .attr("fill", "#1f77b4")
                    .attr("class", "bar")
                    .attr("width", political_view_x)
                    .attr("height", barHeight - 1);

                // Add number label on the right
                bar.append("text")
                    .attr("class", "numlabel")
                    .attr("x", function (d) {
                        return political_view_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                // Draw labels
                bar.append("text")
                    .attr("class", "label")
                    .attr("x", function (d) {
                        return -10;
                    })
                    .attr("y", groupHeight / 2)
                    .attr("dy", "-.15em")
                    .style("text-anchor", "end")
                    .style("font", "14px sans-serif")
                    .text(function (d, i) {
                        return political_view_labels[i];
                    });
                //result chart
                var result_labels = data["result"]["labels"];
                var result_surveydata = data["result"]["values"];

                var width = 360,
                    height = 300,
                    barWidth = 100;

                var y = d3.scale.linear()
                    .range([height, 0])
                    .domain([0, d3.max(result_surveydata)]);

                var result_chart = d3.select("#result_chart")
                    .attr("width", width)
                    .attr("height", height + 30)
                    .attr("transform", function (d, i) {
                        return "translate(60,0)";
                    });

                var result_update=result_chart.selectAll("g").data(emptyarray);
                result_update.exit().remove();

                var result_bar = result_chart
                    .selectAll("g")
                    .data(result_surveydata)
                    .enter()
                    .append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + i * barWidth * 2 + ",0)";
                    })
                    .attr("height", height);

                result_bar.append("rect")
                    .attr("y", function (d) {
                        return y(d);
                    })
                    .attr("height", function (d) {
                        return height - y(d);
                    })
                    .attr("width", barWidth - 5)
                    .attr("fill", function (d, i) {
                        if (i == 1) return "#3989cb"; else return "#d75c5c";
                    });
                //draw percentage
                result_bar.append("text")
                    .attr("x", barWidth / 2)
                    .attr("y", function (d) {
                        return y(d) + 3;
                    })
                    .attr("dy", "1.5em")
                    .attr("dx", "-1.1em")
                    .text(function (d) {
                        return d + "%";
                    });
                //draw labels
                result_bar.append("text")
                    .attr("x", barWidth / 2)
                    .attr("y", height)
                    .attr("dy", "1.5em").attr("dx", "-1.95em")
                    .text(function (d, i) {
                        return result_labels[i];
                    });
            });
        });
    });

    //draw baseline data
    $(document).ready(function () {
        $(".baseline_datasource").click(function () {
            $.post('/requestdata', {name: $(this).attr('value')}, function (data) {
                // Draw legend
//                var legendRectSize = 18,
//                    legendSpacing = 4;
//
//                var legend = d3.select("#edu_level_chart").selectAll('.legend')
//                    .data(edu_data)
//                    .enter()
//                    .append('g')
//                    .attr('transform', function (d, i) {
//                        var height = legendRectSize + legendSpacing;
//                        var offset = -gapBetweenGroups / 2;
//                        var horz = spaceForLabels + chartWidth + 40 - legendRectSize;
//                        var vert = i * height - offset;
//                        return 'translate(' + horz + ',' + vert + ')';
//                    });
//
//                legend.append('rect')
//                    .attr('width', legendRectSize)
//                    .attr('height', legendRectSize)
//                    .style('fill', function (d, i) {
//                        return color(i);
//                    })
//                    .style('stroke', function (d, i) {
//                        return color(i);
//                    });
//
//                legend.append('text')
//                    .attr('class', 'legend')
//                    .attr('x', legendRectSize + legendSpacing)
//                    .attr('y', legendRectSize - legendSpacing)
//                    .text(function (d) {
//                        if (d == 0) return "Current"; else return "Baseline";
//                    });

                //if baseline data is already draw
                if(edu_data.length==10) return;

                //draw baseline data of edu chart

                //update array
                for (i = 0; i < data["last_grade_in_school"]["values"].length; i++) {
                    edu_data.push(data["last_grade_in_school"]["values"][i]);
                }
                //re-compute edu scale
                edu_x = d3.scale.linear()
                    .domain([0, d3.max(edu_data)])
                    .range([0, chartWidth]);
                //get update selection
                var edu_update = d3.select("#edu_level_chart").selectAll("g").data(edu_data);
                //re-size old rects
                edu_update.selectAll("rect")
                    .attr("width", function (d) {
                        return edu_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                edu_update.selectAll(".numlabel").attr("x", function (d) {
                    return edu_x(d) + 3;
                });
                //get enter selection
                var edu_enter = edu_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - edu_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - edu_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                edu_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", edu_x)
                    .attr("height", barHeight - 1);

                edu_enter.append("text")
                    .attr("x", function (d) {
                        return edu_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of age chart

                //update array
                for (i = 0; i < data["age"]["values"].length; i++) {
                    age_data.push(data["age"]["values"][i]);
                }
                //re-compute age scale
                age_x = d3.scale.linear()
                    .domain([0, d3.max(age_data)])
                    .range([0, chartWidth]);
                //get update selection
                var age_update = d3.select("#age_chart").selectAll("g").data(age_data);
                //re-size old rects
                age_update.selectAll("rect")
                    .attr("width", function (d) {
                        return age_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                age_update.selectAll(".numlabel").attr("x", function (d) {
                    return age_x(d) + 3;
                });
                //get enter selection
                var age_enter = age_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - age_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - age_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                age_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", age_x)
                    .attr("height", barHeight - 1);

                age_enter.append("text")
                    .attr("x", function (d) {
                        return age_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });


                                //draw baseline data of gender chart

                //update array
                for (i = 0; i < data["gender"]["values"].length; i++) {
                    gender_data.push(data["gender"]["values"][i]);
                }
                //re-compute gender scale
                gender_x = d3.scale.linear()
                    .domain([0, d3.max(gender_data)])
                    .range([0, chartWidth]);
                //get update selection
                var gender_update = d3.select("#gender_chart").selectAll("g").data(gender_data);
                //re-size old rects
                gender_update.selectAll("rect")
                    .attr("width", function (d) {
                        return gender_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                gender_update.selectAll(".numlabel").attr("x", function (d) {
                    return gender_x(d) + 3;
                });
                //get enter selection
                var gender_enter = gender_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - gender_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - gender_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                gender_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", gender_x)
                    .attr("height", barHeight - 1);

                gender_enter.append("text")
                    .attr("x", function (d) {
                        return gender_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of region chart

                //update array
                for (i = 0; i < data["region"]["values"].length; i++) {
                    region_data.push(data["region"]["values"][i]);
                }
                //re-compute region scale
                region_x = d3.scale.linear()
                    .domain([0, d3.max(region_data)])
                    .range([0, chartWidth]);
                //get update selection
                var region_update = d3.select("#region_chart").selectAll("g").data(region_data);
                //re-size old rects
                region_update.selectAll("rect")
                    .attr("width", function (d) {
                        return region_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                region_update.selectAll(".numlabel").attr("x", function (d) {
                    return region_x(d) + 3;
                });
                //get enter selection
                var region_enter = region_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - region_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - region_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                region_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", region_x)
                    .attr("height", barHeight - 1);

                region_enter.append("text")
                    .attr("x", function (d) {
                        return region_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of hispanic chart

                //update array
                for (i = 0; i < data["hispanic_origin"]["values"].length; i++) {
                    hispanic_data.push(data["hispanic_origin"]["values"][i]);
                }
                //re-compute hispanic scale
                hispanic_x = d3.scale.linear()
                    .domain([0, d3.max(hispanic_data)])
                    .range([0, chartWidth]);
                //get update selection
                var hispanic_update = d3.select("#hispanic_chart").selectAll("g").data(hispanic_data);
                //re-size old rects
                hispanic_update.selectAll("rect")
                    .attr("width", function (d) {
                        return hispanic_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                hispanic_update.selectAll(".numlabel").attr("x", function (d) {
                    return hispanic_x(d) + 3;
                });
                //get enter selection
                var hispanic_enter = hispanic_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - hispanic_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - hispanic_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                hispanic_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", hispanic_x)
                    .attr("height", barHeight - 1);

                hispanic_enter.append("text")
                    .attr("x", function (d) {
                        return hispanic_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of race chart

                //update array
                for (i = 0; i < data["race"]["values"].length; i++) {
                    race_data.push(data["race"]["values"][i]);
                }
                //re-compute race scale
                race_x = d3.scale.linear()
                    .domain([0, d3.max(race_data)])
                    .range([0, chartWidth]);
                //get update selection
                var race_update = d3.select("#race_chart").selectAll("g").data(race_data);
                //re-size old rects
                race_update.selectAll("rect")
                    .attr("width", function (d) {
                        return race_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                race_update.selectAll(".numlabel").attr("x", function (d) {
                    return race_x(d) + 3;
                });
                //get enter selection
                var race_enter = race_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - race_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - race_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                race_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", race_x)
                    .attr("height", barHeight - 1);

                race_enter.append("text")
                    .attr("x", function (d) {
                        return race_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of party chart

                //update array
                for (i = 0; i < data["party"]["values"].length; i++) {
                    party_data.push(data["party"]["values"][i]);
                }
                //re-compute party scale
                party_x = d3.scale.linear()
                    .domain([0, d3.max(party_data)])
                    .range([0, chartWidth]);
                //get update selection
                var party_update = d3.select("#party_chart").selectAll("g").data(party_data);
                //re-size old rects
                party_update.selectAll("rect")
                    .attr("width", function (d) {
                        return party_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                party_update.selectAll(".numlabel").attr("x", function (d) {
                    return party_x(d) + 3;
                });
                //get enter selection
                var party_enter = party_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - party_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - party_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                party_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", party_x)
                    .attr("height", barHeight - 1);

                party_enter.append("text")
                    .attr("x", function (d) {
                        return party_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of income chart

                //update array
                for (i = 0; i < data["annul_family_income"]["values"].length; i++) {
                    income_data.push(data["annul_family_income"]["values"][i]);
                }
                //re-compute income scale
                income_x = d3.scale.linear()
                    .domain([0, d3.max(income_data)])
                    .range([0, chartWidth]);
                //get update selection
                var income_update = d3.select("#income_chart").selectAll("g").data(income_data);
                //re-size old rects
                income_update.selectAll("rect")
                    .attr("width", function (d) {
                        return income_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                income_update.selectAll(".numlabel").attr("x", function (d) {
                    return income_x(d) + 3;
                });
                //get enter selection
                var income_enter = income_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - income_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - income_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                income_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", income_x)
                    .attr("height", barHeight - 1);

                income_enter.append("text")
                    .attr("x", function (d) {
                        return income_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });

                                //draw baseline data of political_view chart

                //update array
                for (i = 0; i < data["political_view"]["values"].length; i++) {
                    political_view_data.push(data["political_view"]["values"][i]);
                }
                //re-compute political_view scale
                political_view_x = d3.scale.linear()
                    .domain([0, d3.max(political_view_data)])
                    .range([0, chartWidth]);
                //get update selection
                var political_view_update = d3.select("#political_view_chart").selectAll("g").data(political_view_data);
                //re-size old rects
                political_view_update.selectAll("rect")
                    .attr("width", function (d) {
                        return political_view_x(d)
                    })
                    .attr("height", barHeight - 1);
                //change position of old number labels
                political_view_update.selectAll(".numlabel").attr("x", function (d) {
                    return political_view_x(d) + 3;
                });
                //get enter selection
                var political_view_enter = political_view_update.enter().append("g")
                    .attr("transform", function (d, i) {
                        return "translate(" + spaceForLabels + "," + (groupHeight * (i - political_view_data.length / 2) + barHeight + gapBetweenGroups * (0.5 + (i - political_view_data.length / 2)) ) + ")";
                    });
                //create rects for new data
                political_view_enter.append("rect")
                    .attr("fill", function (d, i) {
                        return "#aec7e8";
                    })
                    .attr("class", "bar")
                    .attr("width", political_view_x)
                    .attr("height", barHeight - 1);

                political_view_enter.append("text")
                    .attr("x", function (d) {
                        return political_view_x(d) + 3;
                    })
                    .attr("y", barHeight / 2)
                    .attr("fill", "grey")
                    .attr("dy", ".35em")
                    .style("font", "10px sans-serif")
                    .text(function (d) {
                        return d + "%";
                    });
            });
        });
    });

</script>

</body>